{
  "extends": "htmlacademy/es5",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "globals": {
    "Masonry": true,
    "Swiper": true,
    "require": true,
    "grecaptcha": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "no-var": "error",
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "minProperties": 2
        },
        "ObjectPattern": {
          "multiline": true
        },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 3
        }
      }
    ]
  }
}
