<!DOCTYPE html>
<html>
{% include "../templates/main/head-error.njk" %}
<body>

	<div class="wrapper">
		<header class="header">
			<a href="/" class="logo-link">
				<img src="/img/svg/logo.svg" width="400" class="logo">
			</a>
		</header>
		<div class="main">
			<div class="code">404</div>
			<div class="message">Пользователь не найден</div>
		</div>
		<footer class="footer">
			<div class="copyright">© Realty-crm, Краснодар, 2018</div>
			<div class="email">
				<a href="mailto:info@crm-r.ru" class="email">info@crm-r.ru</a>
			</div>
		</footer>
	</div>

</body>
</html>