<!DOCTYPE html>
<html>
{% include "../templates/main/head-login.njk" %}
<body>

	<div class="wrapper">
		<div class="row row--1">
			<a href="/" class="logo-link">
				<img src="/img/svg/logo.svg" width="400" class="logo">
			</a>
		</div>
		<div class="row row--2">
			<div class="column">
				<p class="text">Добро пожаловать в систему управления объявлениями недвижимости.</p>
				<p class="text">Для начала работы войдите в свой кабинет или <a href="/login">зарегистрируйтесь</a></p>
			</div>
			<div class="column">
				<form class="form">
					<div class="row row--input">
	                    <div class="column">
	                        <label class="label">
								<input type="email" name="email" class="input" placeholder="Эл. почта">
								<p class="help-block">Поле не должно быть пустым</p>
							</label>
	                    </div>
	                    <div class="column">
	                        <label class="label">
								<input type="email" name="email" class="input" placeholder="Эл. почта">
								<p class="help-block">Поле не должно быть пустым</p>
							</label>
	                    </div>
	                </div>
					<label class="label">
						<input type="email" name="email" class="input" placeholder="Эл. почта">
						<p class="help-block">Поле не должно быть пустым</p>
					</label>
					<label class="label">
						<input type="password" name="password" class="input" placeholder="Пароль">
						<p class="help-block">Поле не должно быть пустым</p>
					</label>
					<div class="row">
						<div class="column forget-1">
							<a href="/" class="form-link">Не помните пароль?</a>
						</div>
						<div class="column">
							<button class="button">Войти</button>
						</div>
						<div class="column forget-2">
							<a href="/" class="form-link">Не помните пароль?</a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row row--3">
			<div class="column copyright">© Realty-crm, Краснодар, 2018</div>
			<div class="column"><a href="mailto:info@crm-r.ru" class="email">info@crm-r.ru</a></div>
		</div>
	</div>

</body>
</html>