{% extends "../templates/main/layout.njk" %}

{% block content %}


	<aside class="aside">

		<div class="aside-block aside-objects">

			<a href="/" class="aside-section aside-section--active">
				<span class="aside-section__name">Объекты</span>
				<span class="aside-section__stat">
					<span class="aside-section__col">28</span>
					<span class="aside-section__col">17</span>
				</span>
			</a>

			<a href="/" class="aside-category">
				<span class="aside-section__name">Квартиры</span>
				<span class="aside-section__stat">
					<span class="aside-section__col">1</span>
					<span class="aside-section__col">3</span>
				</span>
			</a>

			<a href="/" class="aside-category aside-category--active">
				<span class="aside-section__name">Комнаты</span>
				<span class="aside-section__stat">
					<span class="aside-section__col">5</span>
					<span class="aside-section__col">7</span>
				</span>
			</a>

			<a href="/" class="aside-category">
				<span class="aside-section__name">Дома</span>
				<span class="aside-section__stat">
					<span class="aside-section__col">18</span>
					<span class="aside-section__col">7</span>
				</span>
			</a>

		</div>

		<hr class="aside-separator">

		<div class="aside-block aside-contacts">

			<a href="/" class="aside-section">
				<span class="aside-section__name">Контакты</span>
			</a>

			<a href="/" class="aside-category">
				<span class="aside-section__name">Продавцы</span>
				<span class="aside-section__stat">
					<span class="aside-section__col">17</span>
				</span>
			</a>

			<a href="/" class="aside-category">
				<span class="aside-section__name">Покупатели</span>
				<span class="aside-section__stat">
					<span class="aside-section__col">17</span>
				</span>
			</a>

		</div>

		<hr class="aside-separator">

		<div class="aside-block aside-support">

			<a href="/" class="aside-section">
				<span class="aside-section__name">Поддержка</span>
			</a>

		</div>

		<hr class="aside-separator">

		<div class="aside-block aside-notify">

			<a href="/" class="aside-section">
				<span class="aside-section__name">Оповещения</span>
				<span class="aside-section__stat">
					<span class="aside-section__col aside-section__col--active">3</span>
				</span>
			</a>

		</div>

		<button class="btn btn-primary aside-btn get-link-landing-btn">Ссылка на лендинг</button>

		<a href="/" class="btn btn-primary aside-btn">Создать страницу</a>

	</aside>

	<div class="main-content">

		<div class="title-controls">
			<div class="title-controls__left">
				<div class="page-title">Продажа, 2-к квартира, 80 м², 7 из 19 этаж</div>
				<div class="page-subtitle">ул. Залесская, 92</div>
			</div>
		</div>

		<div class="control-links">
			<div class="control-links__item control-links--edit">
				<button href="/" class="control-links__link">Редактировать</button>
			</div>
			<div class="control-links__item control-links--delete">
				<a href="/" class="control-links__link">Удалить</a>
			</div>
			<div class="control-links__item control-links--archive">
				<a href="/" class="control-links__link">В архив</a>
			</div>
			<div class="control-links__item control-links--publish">
				<a href="/" class="control-links__link">Публикация</a>
			</div>
		</div>

		<div id="ymap" class="object-map"></div>

		<div class="object-section">
			<div class="object-section__name">Фотографии и видео</div>
			<div class="object-section__photos">
                <img src="/img/img-profile.jpg" class="object-photo">
                <img src="/img/img-profile.jpg" class="object-photo">
                <img src="/img/img-profile.jpg" class="object-photo">
                <img src="/img/img-profile.jpg" class="object-photo">
                <img src="/img/img-profile.jpg" class="object-photo">
                <img src="/img/img-profile.jpg" class="object-photo">
                <img src="/img/img-profile.jpg" class="object-photo">
			</div>
		</div>

		<div class="object-section">
			<div class="object-section__name">Цена и условия сделки</div>
			<div class="object-section__content">
				<div class="object-param">
					<div class="object-param__key">Цена</div>
					<div class="object-param__value">6 000 000 ₽</div>
				</div>
				<div class="object-param">
					<div class="object-param__key">Комиссия</div>
					<div class="object-param__value">10%</div>
				</div>
				<div class="object-param">
					<div class="object-param__key">Тип продажи</div>
					<div class="object-param__value">Свободная</div>
				</div>
			</div>
		</div>

		<div class="object-section">
			<div class="object-section__name">Дом и участок</div>
			<div class="object-section__content">
				<div class="object-param">
					<div class="object-param__key">Материал стен</div>
					<div class="object-param__value">Кирпичный</div>
				</div>
				<div class="object-param">
					<div class="object-param__key">Этаж</div>
					<div class="object-param__value">7 из 19</div>
				</div>
				<div class="object-param">
					<div class="object-param__key">Тип дома</div>
					<div class="object-param__value">Новостройка</div>
				</div>
			</div>
		</div>

		<div class="object-section">
			<div class="object-section__name">Квартира</div>
			<div class="object-section__content">
				<div class="object-param">
					<div class="object-param__key">Число собственников</div>
					<div class="object-param__value">1</div>
				</div>
				<div class="object-param">
					<div class="object-param__key">Комнаты</div>
					<div class="object-param__value">2</div>
				</div>
				<div class="object-param">
					<div class="object-param__key">Вид из окна</div>
					<div class="object-param__value">На улицу, в парк</div>
				</div>
				<div class="object-param">
					<div class="object-param__key">Ремонт</div>
					<div class="object-param__value">Чистовая отделка, с мебелью и техникой</div>
				</div>
				<div class="object-param">
					<div class="object-param__key">Номер квартиры</div>
					<div class="object-param__value">309</div>
				</div>
			</div>
		</div>

		<div class="object-section">
			<div class="object-section__name">Описание</div>
			<div class="object-section__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>

	</div>

	<div class="modal modal-object-add">
		<div class="modal__top">
			<div class="modal__title">Редактирование объекта</div>
			<div class="modal__close"></div>
		</div>
		<div class="modal__content">

			<div class="section-name">Основное</div>

			<div data-element-id="using_type" class="label-wrapper label">
				<label class="label__name">Тип сделки<span class="label--required">*</span></label>
				<div class="switch switch-room">
					<div class="switch__list">
						<label class="switch__label">
							<input data-id="using_type" type="radio" name="ObjectForm[c_fields][using_type]" class="input" value="lease" checked="">
							<span>Аренда</span>
						</label>
						<label class="switch__label">
							<input data-id="using_type" type="radio" name="ObjectForm[c_fields][using_type]" class="input" value="sale">
							<span>Продажа</span>
						</label>
					</div>
				</div>
			</div>

			<div class="label-wrapper error">
				<label class="label">
					<span class="label__name">Тип недвижимости <span class="label--required">*</span></span>
					<select class="input select" name="oa_kadastal_number">
						<option>Квартира</option>
						<option></option>
					</select>
				</label>
			</div>

			<div class="label-wrapper">
				<label class="label">
					<span class="label__name">Тип дома <span class="label--required">*</span></span>
					<select class="input select" name="oa_kadastal_number">
						<option>Вторичка</option>
						<option></option>
					</select>
				</label>
			</div>

			<div class="section-name">Адрес</div>

			<div class="label-wrapper">
				<label class="label">
					<span class="label__name">Населённый пункт <span class="label--required">*</span></span>
					<select class="input select" name="oa_city">
						<option>Краснодар</option>
						<option></option>
					</select>
				</label>
			</div>
			<div class="label-wrapper">
				<label class="label label--interval">
					<span class="label__name">Этаж</span>
					<input class="input" type="text" name="oa_floor[]" id="oa_floor">
					<span class="input-separator">из</span>
					<input class="input" type="text" name="oa_floor[]">
				</label>
			</div>
			<div class="label-wrapper">
				<label class="label">
					<span class="label__name">Расстояние до города, км</span>
					<div class="counter">
						<div class="counter__btn counter__minus">-</div>
						<input class="counter__input input" type="text" name="oa_" id="oa_" value="0">
						<div class="counter__btn counter__plus">+</div>
					</div>
				</label>
			</div>

			<div class="section-name">Фотографии и видео</div>

			<div class="label-wrapper label">
				<label class="label__name">Фотографии</label>
				<div class="image-list">

					<div class="image-list-item" style="background-image:url(/img/img-profile.jpg)">
						<div class="image-list-item__close"></div>
					</div>

					<div class="image-list-add">
						<div class="image-list-add__icon"></div>
						<span class="image-list-add__text">Добавить</span>
					</div>

				</div>
			</div>

			<div class="label-wrapper">
				<label class="label">
					<span class="label__name">Ссылка на видео на youtube</span>
					<input class="input" type="text" name="oa_link" placeholder="youtube.com/realty1823">
				</label>
			</div>

			<div class="section-name">Описание и заметки</div>

			<div class="label-wrapper">
				<label class="label">
					<span class="label__name">Описание</span>
					<textarea class="input textarea" name="oa_desc" placeholder="Этот текст будет выгружен в объявление"></textarea>
				</label>
			</div>

			<div class="section-name">Стоимость и условия сделки</div>

			<div class="label-wrapper input-rouble">
				<label class="label">
					<span class="label__name">Цена</span>
					<span class="input-wrapper">
						<input class="input" type="text" name="oa_price" value="0">
						<span class="input-hint">Можно вводить только цифры и пробелы</span>
					</span>
				</label>
			</div>

			<div class="label-wrapper input-rouble">
				<label class="label">
					<span class="label__name">Цена</span>
					<span class="input-wrapper">
						<input class="input" type="text" name="oa_price" value="0">
						<span class="input-hint">Можно вводить только цифры и пробелы</span>
					</span>
				</label>
			</div>

			<div class="section-name">Квартира</div>

			<div class="label-wrapper label">
				<label class="label__name">Комнаты</label>
				<div class="switch switch-room">

					<div class="switch__list">
						<label class="switch__label">
							<input type="radio" name="oa_room" value="1" checked="">
							<span>1</span>
						</label>
						<label class="switch__label">
							<input type="radio" name="oa_room" value="2">
							<span>2</span>
						</label>
						<label class="switch__label">
							<input type="radio" name="oa_room" value="3">
							<span>3</span>
						</label>
						<label class="switch__label">
							<input type="radio" name="oa_room" value="4">
							<span>4</span>
						</label>
						<label class="switch__label">
							<input type="radio" name="oa_room" value="5">
							<span>5</span>
						</label>
						<label class="switch__label">
							<input type="radio" name="oa_room" value="6+">
							<span>6+</span>
						</label>
					</div>

					<input class="input" type="text" name="oa_custom_room" id="oa_room" placeholder="Своё значение" style="margin-left:5px;width: 120px">

				</div>
			</div>

			<div data-element-id="pledge" class="label-wrapper label">
				<label class="label__name">Залог<span class="label--required">*</span></label>
				<div class="switch">
					<div class="switch__list">
						<label class="switch__label" style="width: auto;">
							<input data-id="pledge" type="radio" name="ObjectForm[c_fields][pledge]" class="input" value="without_pledge" checked="">
							<span>Без залога</span>
						</label>
						<label class="switch__label">
							<input data-id="pledge" type="radio" name="ObjectForm[c_fields][pledge]" class="input" value="0.5month">
							<span>0.5 месяца</span>
						</label>
						<label class="switch__label">
							<input data-id="pledge" type="radio" name="ObjectForm[c_fields][pledge]" class="input" value="1month">
							<span>1 месяц</span>
						</label>
						<label class="switch__label">
							<input data-id="pledge" type="radio" name="ObjectForm[c_fields][pledge]" class="input" value="1.5month">
							<span>1.5 месяца</span>
						</label>
						<label class="switch__label">
							<input data-id="pledge" type="radio" name="ObjectForm[c_fields][pledge]" class="input" value="2month">
							<span>2 месяца</span>
						</label>
						<label class="switch__label">
							<input data-id="pledge" type="radio" name="ObjectForm[c_fields][pledge]" class="input" value="2.5month">
							<span>2.5 месяца</span>
						</label>
						<label class="switch__label">
							<input data-id="pledge" type="radio" name="ObjectForm[c_fields][pledge]" class="input" value="3month">
							<span>3 месяца</span>
						</label>
					</div>
				</div>
			</div>

			<div class="label-wrapper label">
				<label class="label__name">Вид из окна</label>
				<div class="checkboxes-list checkboxes-list--cols-2">
					<label class="checkbox">
						<input type="checkbox" name="oa_view_window" value="Во двор" checked="">
						<span class="checkbox__box"></span>
						<span class="checkbox__text">Во двор</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" name="oa_view_window" value="На улицу">
						<span class="checkbox__box"></span>
						<span class="checkbox__text">На улицу</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" name="oa_view_window" value="В парк">
						<span class="checkbox__box"></span>
						<span class="checkbox__text">В парк</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" name="oa_view_window" value="На реку">
						<span class="checkbox__box"></span>
						<span class="checkbox__text">На реку</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" name="oa_view_window" value="На море">
						<span class="checkbox__box"></span>
						<span class="checkbox__text">На море</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" name="oa_view_window" value="На горы">
						<span class="checkbox__box"></span>
						<span class="checkbox__text">На горы</span>
					</label>

				</div>
			</div>

			<div class="label-wrapper label">
				<label class="label__name">Вид из окна</label>
				<div class="checkboxes-list checkboxes-list--cols-2">
					<label class="radio">
						<input type="radio" name="oa_view_window" value="Во двор" checked="">
						<span class="radio__box"></span>
						<span class="radio__text">Во двор</span>
					</label>
					<label class="radio">
						<input type="radio" name="oa_view_window" value="На улицу">
						<span class="radio__box"></span>
						<span class="radio__text">На улицу</span>
					</label>
					<label class="radio">
						<input type="radio" name="oa_view_window" value="В парк">
						<span class="radio__box"></span>
						<span class="radio__text">В парк</span>
					</label>
					<label class="radio">
						<input type="radio" name="oa_view_window" value="На реку">
						<span class="radio__box"></span>
						<span class="radio__text">На реку</span>
					</label>
					<label class="radio">
						<input type="radio" name="oa_view_window" value="На море">
						<span class="radio__box"></span>
						<span class="radio__text">На море</span>
					</label>
					<label class="radio">
						<input type="radio" name="oa_view_window" value="На горы">
						<span class="radio__box"></span>
						<span class="radio__text">На горы</span>
					</label>

				</div>
			</div>

			<div class="section-name">Площадь</div>

			<div class="label-wrapper label input-metr">
				<label class="label">
					<span class="label__name">Жилая</span>
					<span class="input-wrapper">
						<input class="input" type="text" name="oa_square_live" placeholder="0">
					</span>
				</label>
			</div>
			<div class="label-wrapper label input-metr">
				<label class="label">
					<span class="label__name">Кухня</span>
					<span class="input-wrapper">
						<input class="input" type="text" name="oa_square_kitchen" placeholder="0">
					</span>
				</label>
			</div>
			<div class="label-wrapper label input-metr">
				<label class="label">
					<span class="label__name">Общая</span>
					<span class="input-wrapper">
						<input class="input" type="text" name="oa_square_total" placeholder="0">
					</span>
				</label>
			</div>

			<div class="section-name section-name--green">Эти данные будут видны только вам</div>

			<div class="label-wrapper label input-safe error">
				<label class="label">
					<span class="label__name">Кадастровый номер</span>
					<span class="input-wrapper">
						<input class="input" type="text" name="oa_square_total">
						<span class="input-hint">Можно вводить только цифры и тире</span>
					</span>
				</label>
			</div>
			<div class="label-wrapper label input-safe">
				<label class="label">
					<span class="label__name">Номер квартиры</span>
					<span class="input-wrapper">
						<input class="input" type="text" name="oa_number">
					</span>
				</label>
			</div>
			<div class="label-wrapper label input-safe">
				<label class="label">
					<span class="label__name">Заметка</span>
					<span class="input-wrapper">
						<textarea class="input textarea" name="oa_note" placeholder="Любая информация об объекте, которую вы не хотите выгружать в объявлении"></textarea>
					</span>
				</label>
			</div>
		</div>

		<div class="modal__bottom">
			<button class="modal__cancel btn btn-white">Отмена</button>
			<button class="modal__primary btn btn-primary">Сохранить</button>
		</div>


		</div>
	</div>

	<div class="modal modal-get-link-landing">
        <div class="modal__substrate"></div>
        <div class="modal__container">
            <div class="modal__content">
                <button class="copy-link btn btn-primary">Скопировать: /url/url/</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}
