@import "./var";
@import "./fonts";
@import "./globals";

.hr {
  width: 100%;
  height: 1px;
  background: #aaa;
}

.title-controls {
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0;
}

.info-block {
  width: 31%;
  padding: 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;

  input[type=text] {
    padding: 5px;
    margin-bottom: 5px;
    border:1px solid #ddd;
  }
}

.local-payment {
  &_disable {
    display: none;
  }
}

.package-select {
  width: 360px;

  &__item {
    line-height: 1.5;
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px;
    cursor: pointer;

    &:hover {
      background: #eee;
    }

    &_active,
    &_active:hover {
      background: #ddd;
    }
  }
}




.current-tariff {
  margin: 20px 0;
}

.tariffs {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0;
}

.tariff {
  width: 19%;
  padding: 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;

  &__name {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  &__duration {
    margin-bottom: 15px;
  }
  &__count {
    margin-bottom: 15px;
  }
  &__cost {
    margin-bottom: 15px;
  }
  &__bottom {

  }
  &__link {

  }
}