@import "./var";
@import "./fonts";
@import "./modal";
@import "./globals";

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 10px;

  background: #fff;
  border-radius: 5px;

  &:hover {
    background-color: #ebebf3;
  }

  &__title {
    margin-left: 10px;
    margin-right: auto;
  }

  &__price {
    margin: 0 20px;
    white-space: nowrap;
  }

  &__btn {
    height: 40px;
    line-height: 40px;
  }
}

.switch {
  justify-content: center;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #CFD0E5;
    z-index: 0;
  }

  &__item {
    position: relative;
    display: inline-block;
    font-size: 17px;
    color: #6b8199;
    padding: 8px 18px 5px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    z-index: 1;

    &_active {
      color: #000;
      padding-bottom: 4px;
      border-bottom: 2px solid $element-color;

      .switch__count {
        color: #000;

        &::before {
          background: #000;
        }
      }
    }
  }
}

.switchable-content {
  display: none;
  width: 100%;

  &_active {
    display: block;
  }
}

@media (max-width: 680px) {
  .row {
    padding: 10px;

    &__title {
      margin: 0;
    }

    &__price {
      width: 100%;
      margin: 5px 0 0;
      white-space: nowrap;
    }
    &__btn {
      width: 100%;
      margin: 5px 0 0;
    }
  }
}