@import "./var";
@import "./fonts";

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
	font-family: $font-family;
	background-image: linear-gradient(to right, #4e54c8, #8f94fb);
}

a {
  color: #ffde00;

  &:hover {
    color: #fff900;
  }
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.row {
  width: 100%;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
  &--1 {
    margin: 10% 0;
  }
  &--3 {
    margin: 10% 0 50px;
  }
  &--input {
    .column {
      width: 48%;
    }
    .column:last-child {
      margin-left: 4%;
    }
  }
}
.column {
  width: 50%;
  float: left;

  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}
.logo-link {

}
.logo {
  width: 100%;
  max-width: 400px;
}
.text {
	font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}
.form {
  float: right;
	width: 100%;
	max-width: 480px;
}
.label {
  display: block;
  margin-bottom: 16px;

  .help-block {
    text-align: left;
    color: #fff;
    font-size: 14px;
  }
}
.input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: $desktop-font-size;
  color: #9697b3;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #cfd0e6;
}
.form-link {
  margin: 9px 0 0;
  display: inline-block;
}
.forget-2 {
  display: none;
}
.button {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: $desktop-font-size;
  border-radius: 4px;
  background-color: #ffde00;
  cursor: pointer;

  &:hover {
    background-color: #fff900;
  }
}
.copyright {
  color: #fff;
  font-size: 18px;
}
.email {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 960px) {
  .row {
    &--input {
      .column {
        width: 100%;
      }
      .column:last-child {
        margin-left: 0;
      }
    }
  }
  .column {
    width: 100%;
    float: none;

    &:first-child {
      text-align: center;
    }
    &:last-child {
      text-align: center;
    }
  }
  .text {
    font-size: 20px;
    text-align: center;
  }
  .form {
    float: none;
    margin: 80px auto 0;
  }
  .label {
    margin-bottom: 25px;
  }
  .copyright {
    text-align: center;
    margin-bottom: 10px;
  }
  .forget-1 {
    display: none;
  }
  .forget-2 {
    display: block;
    margin: 10px 0 0;
  }
}