@import "./var";
@import "./fonts";
@import "./modal";
@import "./globals";

* {
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: $desktop-font-size;
  font-family: $font-family;
  font-weight: normal;
  background-color: #f5f5fa;
}

html, body {
  height: 100%;
}

a {
  color: $link-color;
}
a:hover {
  color: $link-color-hover;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $text-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $text-color;
}
:-moz-placeholder { /* Firefox 18- */
  color: $text-color;
}

.page-price {
  color: #4f54c9;
  font-size: 20px;
  text-align: right;
}
.page-comment {
  display: inline-block;
  margin: 18px 10px 0 0; 
  width: 24px;
  height: 24px;
  background-image: url(/img/icons/icn-comment.png);
  cursor: pointer;
}
.page-commission {
  display: inline-block;
  margin: 18px 0 0 0; 
  width: 24px;
  height: 24px;
  background-image: url(/img/icons/icn-rouble.png);
  cursor: pointer;
}

.object-search {

  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #6b8199;

  &__btn {
    display: block;
    width: 16px;
    height: 16px;
    background: transparent url(/img/svg/icn-header-search-main.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
  }

  &__input {
    display: block;
    width: 100%;
    height: 32px;
    margin-left: 15px;
    font-size: $desktop-font-size;
    color: $text-color;
    background-color: transparent;
  }

  &__params {
    width: 20px;
    cursor: pointer;
  }
}

.object {

  &__rollup {
    display: inline-block;
    position: relative;
    margin-top: 2px;
    margin-right: 18px;
    font-size: 14px;
    text-transform: uppercase;
    color: #6d73e0;
    border-bottom: 1px solid #6d73e0;
    cursor: pointer;

    &:hover {
      color: #8f94fb;
      border-bottom: 1px solid #8f94fb;

      &_open {
        &::after {
          border-color: #8f94fb transparent transparent;
        }
      }

      &_close {
        &::after {
          border-color: transparent transparent #8f94fb;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: -13px;
      display: inline-block;
      margin-left: 7px;
      vertical-align: 2px;
      border-style: solid;
    }

    &_open {
      &:after {
        border-width: 5px 4px 0;
        border-color: #6d73e0 transparent transparent;
      }
    }

    &_close {
      &:after {
        border-width: 0 4px 5px;
        border-color: transparent transparent #6d73e0;
      }
    }
  }

  &-search-params {
    &__line {
      position: relative;
      width: 100%;
      height: 1px;
      background-color: #6b8199;
      margin-bottom: 6px;
    }

    &__line:last-child {
      margin-bottom: 0;
    }

    &__line::after {
      content: '';
      position: absolute;
      top: -2px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      border: 1px solid #6b8199;
      background-color: #f5f5f5;
    }

    &__line:nth-child(1)::after {
      left: 15px;
    }

    &__line:nth-child(2)::after {
      left: 8px;
    }

    &__line:nth-child(3)::after {
      left: 0;
    }
  }

  &-map {
    margin-bottom: 30px;

    &__toggle {
      position: relative;
      display: inline-block;
      margin: 15px 0;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffc844;
      border-bottom: 1px solid #ffc844;
      cursor: pointer;

      &:hover {
        color: #ffde90;
        border-bottom: 1px solid #ffde90;

        &_open {
          &:after {
            border-color: #ffde90 transparent transparent;
          }
        }

        &_close {
          &:after {
            border-color: transparent transparent #ffde90;
          }
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 6px;
        right: -13px;
        display: inline-block;
        margin-left: 7px;
        vertical-align: 2px;
        border-width: 5px 4px 0;
        border-style: solid;
        border-color: #ffc844 transparent transparent;
      }

      &_open {
        &:after {
          border-width: 5px 4px 0;
          border-color: #ffc844 transparent transparent;
        }
      }

      &_close {
        &:after {
          border-width: 0 4px 5px;
          border-color: transparent transparent #ffc844;
        }
      }
    }

    &__wrap {
      display: none;
      width: 100%;
      height: 480px;

      &_open {
        display: block;
      }
    }

    &__item {
      width: 100%;
      height: 100%;
    }
  }

  &-photos {
    margin: 0 0 20px;
  }

  &-video {
    position:relative;
    margin: 0 0 20px;
    padding-bottom:40.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    max-width: 640px;
    max-height: 220px;

    & iframe, & object, & embed {
      position:absolute;
      top:0;
      left:0;
      width: 100%;
      height:100%;
    }
  }

  &-params {
    width: 100%;
    display: flex;

    &__col-left {
      width: 50%;
      max-width: 372px;
      margin-right: 30px;
    }

    &__col-right {
      width: 50%;
      max-width: 372px;
      margin-left: 30px;
    }
  }

  &-param {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 372px;
    font-size: 14px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 100%;
      height: 0px;
      border-bottom: 1px dashed #ddd;
    }

    &__key {
      position: relative;
      max-width: 50%;
      padding-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: #f5f5fa;
      z-index: 1;
    }
    &__value {
      position: relative;
      max-width: 50%;
      padding-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: right;
      background: #f5f5fa;
      z-index: 1;
    }
  }

  &-description {
    margin: 0 0 20px;

    &.object-section_short {
      > .object-section__content {
        height: auto;
      }
    }

    > .object__rollup {
      display: none;
    }
  }

  &-section {
    margin: 0 0 30px;

    &_short {
      .object-section__content {
        height: 182px;
        overflow: hidden;
      }
    }

    &__name {
      margin: 0 0 20px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__photos {

    }
    &__photos::after {
      content: '';
      display: block;
      width: 100%;
      clear: both;
    }
    &__content {
      line-height: 1.5;
      font-size: 14px;
    }
  }
}

.price-mobile {
  display: none;
}

.title-mobile {
  display: none;
}

.modal {
  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px auto 0;
    padding: 20px 0 0;
  }
  &__cancel {
    margin-right: 20px;
  }
  &__draft {
    margin-right: 20px;
  }
  .input-autocomplete {
    .btn {
      width: 135px;
      height: 40px;
      margin: 0 0 0 10px;
      line-height: 40px;
    }
  }
  .preview {
    .input-hint {
      position: relative;
      top: 0;
      left: 0;
      visibility: visible;
      opacity: 1;
      margin: 8px 0 0 0;
      display: block;
      width: 100%;
      background-color: #ffa0a0;
    }
  }
}

.fotorama__nav {
  text-align: left !important;
}

.input-metr, .м² {
  .input-wrapper::after {
    content: 'м²';
    position: absolute;
    top: 12px;
    right: 8px;
    font-weight: normal;
    font-size: 16px;
  }
  .object-param__value::after {
    content: 'м²';
  }

  input {
    padding-right: 30px;
  }
}

.м {
  .input-wrapper::after {
    content: 'м';
    position: absolute;
    top: 12px;
    right: 8px;
    font-weight: normal;
    font-size: 16px;
  }
  .object-param__value::after {
    content: 'м';
  }

  input {
    padding-right: 30px;
  }
}

.input-rouble, .Рубль {
  .input-wrapper::after {
    content: '₽';
    position: absolute;
    top: 12px;
    right: 8px;
    font-weight: normal;
    font-size: 16px;
  }
  .object-param__value::after {
    content: '₽';
  }

  input {
    padding-right: 25px;
  }
}

.input-switch {
  display: flex;

  input {
    border-radius: 4px 0 0 4px;
    border: 1px solid #cfd0e6;
    border-right-color: #fff;
  }
  .switch__list {
    border: 1px solid #cfd0e6;
    border-radius: 0 4px 4px 0;
  }
  [data-element-id]:last-child {
    margin-bottom: auto;
  }
}

.input-percent, .Процент {
  .input-wrapper::after {
    content: '%';
    position: absolute;
    top: 12px;
    right: 8px;
    font-weight: normal;
    font-size: 16px;
  }
  .object-param__value::after {
    content: '%';
  }

  input {
    padding-right: 25px;
  }
}

.сотки {
  .input-wrapper::after {
    content: 'соток';
    position: absolute;
    top: 12px;
    right: 8px;
    font-weight: normal;
    font-size: 16px;
  }
  .object-param__value::after {
    content: 'соток';
  }

  input {
    padding-right: 25px;
  }
}

.гектары {
  .input-wrapper::after {
    content: 'гектар';
    position: absolute;
    top: 12px;
    right: 8px;
    font-weight: normal;
    font-size: 16px;
  }
  .object-param__value::after {
    content: 'гектар';
  }

  input {
    padding-right: 25px;
  }
}

.input-safe {
  .input-wrapper::after {
    content: '';
    position: absolute;
    top: 12px;
    right: 8px;
    width: 13px;
    height: 17px;
    background: url(/img/svg/privacy.svg) no-repeat;
  }

  input, textarea, select {
    padding-right: 30px;
    border-color: #00a877;
  }
}

.button-point {
  .btn {
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    font-size: 14px;
  }
  .map-cell {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    display: inline-block;
  }
}


.fotorama__img, .object-photo {
  float: left;
  width: 100%;
  height: auto;
  max-height: 540px;
  margin: 0 20px 20px 0;
  object-fit: contain;
}

.object-photo:last-child {
  margin-right: 0;
}

.modal-usercard-add {
  .modal__container {
    max-width: 550px;
  }
}

.modal-commission {
  .modal__commission {
    font-size: 22px;
    text-align: center;
    color: #6d73e0;
    font-weight: bold;
    margin: 20px;
  }
}

.modal-object-add .cols {
  column-count: 3;
  column-gap: 40px;
}

.multiple-input input[type="text"] {
  display: inline-block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #cfd0e6;
  padding: 0 10px;
  line-height: 1;
  font-size: 16px;
  background-color: #fff;
}

.multiple-input-list {
  width: 100%;
}
.multiple-input-list.table-renderer .form-group {
  position: relative;
}
.multiple-input-list.table-renderer .list-cell__button {
  display: flex;
  align-items: flex-start;
}
.multiple-input-list__btn.js-input-plus {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
  height: 40px;
  width: 40px;
  padding: 0;
  line-height: 40px;
}
.multiple-input-list__btn.js-input-plus::after {
  content: '+';
}
.multiple-input-list__btn.js-input-remove {
  background-color: #f96363;
  border: 1px solid #ddd;
  color: #fff;
  height: 40px;
  width: 40px;
  padding: 0;
  line-height: 40px;
}
.multiple-input-list__btn.js-input-remove::after {
  content: 'x';
}

.bottom-checkbox {
  margin-top: 5px;
  .checkbox__text {
    font-size: 14px;
  }
}

.element-wrapper {
  position: relative;
  width: 100%;
}

@media (max-width: 1600px) {
  .fotorama__img, .object-photo {
    max-height: 480px;
  }
}

@media (max-width: 1055px) {
  .object {
    &-params {
      display: block;

      &__col-left {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
      }
      &__col-right {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
      }
    }
    &-param {
      max-width: 100%;
    }
  }
}

@media (max-width: 960px) {
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: #fff;

    .title-controls {
      display: none;
    }
  }

  .control-links {
    display: flex;
    justify-content: space-between;
    order: 1;
    margin: 0;
    background-color: #f6f5fb;

    &__link {
      margin-right: 0;
      padding-bottom: 3px;
      width: 33.32%;
      height: auto;
      line-height: 1.5;
      border-radius: 0;
      border-left-color: #dbdbf6;
      border-right-color: #dbdbf6;

      &:first-of-type {
        border-left: 0;
        border-right: 0;
      }
      &:last-of-type {
        border-left: 0;
        border-right: 0;
      }

      &_icon {
        &::before {
          display: block;
          margin: 7px auto 3px;
        }
      }
    }
  }
  .title-controls {
    display: none;
  }
  .price-mobile {
    display: flex;
    justify-content: space-between;
    order: 3;
    width: 100%;
    padding: 15px 15px 0;

    .page-comment {
      margin-top: 0;
      font-size: 16px;
    }
    .page-commission {
      margin-top: 0;
    }
  }
  .title-mobile {
    display: block;
    order: 4;
    padding: 4px 15px 0;

    .page-title {
      font-size: 16px;
    }

    .page-subtitle {
      font-size: 14px;
      color: #6b8199;
    }
  }
  .object {
    &-map {
      height: auto;
      border-top: 1px solid #ffde90;
      border-bottom: 1px solid #ffde90;
      margin: 15px 15px;
      text-align: center;
      order: 5;

      &__toggle {
        border-bottom: 0;
        color: #6b8199;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 6px 0;
        font-size: 12px;

        &:hover {
          border-bottom: 0;
          color: #6b8199;
        }

        &::after {
          position: static;
          border-color: #6b8199 transparent transparent;
        }

        &_close {
          margin-bottom: 20px;

          &::after {
            position: static;
            border-color: transparent transparent #6b8199;
          }
        }
      }

      &__wrap {
        height: 200px;
        &_open {
          margin-bottom: 5px;
        }
      }
    }

    &-photos {
      order: 2;
      margin: 0;

      .fotorama__nav-wrap {
        display: none;
      }
    }
    &-video {
      order: 2;
      margin: 0;
      margin: 15px;
    }
    &-params {
      order: 7;
    }
    &-param {
      font-size: 12px;

      &__key {
        background-color: #fff;
      }

      &__value {
        background-color: #fff;
      }
    }
    &-section {
      padding: 0 15px;
      margin-bottom: 0;

      &_short {
        .object-section__content {
          height: 158px;
          overflow: hidden;
        }
        .object__toggle-params {
          margin-top: 10px;
        }
      }

      &__name {
        margin: 0 -15px 10px;
        padding: 5px 15px;
        font-size: 12px;
        font-weight: bold;
        color: #6b8199;
        background-color: #f6f5fb;
      }

      &__content {
        line-height: 1.5;
        font-size: 12px;
        overflow: hidden;
      }
    }
    &-description {
      order: 6;
      margin: 0 0 15px;

      .object-section__content {
        font-size: 14px;
        line-height: 1.5;
      }
    }
    &__toggle-params {
      font-size: 12px;
      margin: 0 0 10px;
    }
  }
  .title-controls {
    &__right {
      padding: 5px 0 0;
    }
  }
  .block-post {
    &__toggle {
      font-size: 16px;
    }
    &__stat {
      font-size: 12px;
    }
    &__title {
      margin-bottom: 14px;
    }
  }
  .post {
    &__desc {
      padding: 10px 15px;
    }
    &__title {
      margin-bottom: 5px;
    }
    &__platforms {
      margin-top: 0;
    }
  }
  .modal {
    &_static {
      left: 0;
      max-width: 100%;
    }
    .input-autocomplete {
      .btn {
        height: 34px;
        line-height: 34px;
      }
    }
  }
  .modal-object-add {
    &.modal_static {
      .modal__container {
        padding: 0;
      }
    }
  }

  .modal-object-edit {
    &.modal_static {
      .modal__container {
        padding: 0;
      }
    }
  }
  .btn {
    font-size: 12px;
    padding: 0 30px;
    height: 32px;
    line-height: 32px;
  }
}

@media (max-width: 768px) {
  .fotorama__img, .object-photo {
    max-height: 320px;
  }
}

@media (max-width: 726px) {
  .object-photo {
    width: 100px;
    height: 100px;
  }
  .input-switch {
    [data-element-id]:first-child {
      width: 100%;
    }
  }
  .multiple-input input[type="text"] {
    height: 34px;
    font-size: $mobile-font-size;
  }
  .input-rouble,
  .input-metr,
  .input-percent,
  .input-safe {
    .input-wrapper::after {
      top: 9px;
      font-size: $mobile-font-size;
    }
  }
  .control-links {

    &__item {
      margin-bottom: 20px;
    }
  }
  .modal {
    .input-autocomplete .modal__btn_add {
      height: 34px;
      line-height: 34px;
    }
  }
}

@media (max-width: 625px) {
  .fotorama__img, .object-photo {
    max-height: 240px;
  }
  .block-post__title {
    font-size: $desktop-font-size;
  }
  .block-post__list {
    margin: 0 -16px;
  }
  .post {
    min-height: auto;
    height: auto;
    margin-bottom: -1px;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      color: #000;
      border: 1px solid #8f94fb;
      border-left-color: transparent;
      border-right-color: transparent;
      z-index: 1;
      position: relative;
    }

    &__link {
      height: auto;
    }
    &__row {
      display: block;
      margin-bottom: 5px;

      &:nth-of-type(1) {
        .post-row__right {
          position: relative;
        }
      }
      &:nth-of-type(2) {
        display: flex;
        flex-flow: row;
        margin-bottom: 0;
      }
      &:nth-of-type(3) {
        display: none;
      }
    }
    &__image {
      width: 88px;
      height: 88px;
      border-radius: 4px;
      margin: 5px 0;
      text-align: center;
    }
    &__desc {
      padding: 8px;
      width: calc(100% - 88px);
    }
    &__title {
      margin-bottom: 5px;
      font-size: $mobile-font-size;
    }
    &__price {
      font-size: 15px;
    }
    &__address {
      margin-bottom: 5px;
      font-size: 13px;
      margin: 0;
    }
    &__platforms {
      display: none;

      &-hidden {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 5px 2px 20px;
        font-size: 12px;
        color: #4f54c9;
        background-image: url(/img/icons/icn-checkbox.png);
        background-size: 14px;
        background-position: 3px 2px;
        background-repeat: no-repeat;
        background-color: #f5f5fb;
        border: 1px solid #ececf9;
        border-radius: 4px;
      }
    }
    &__date {
      display: none;

      &-hidden {
        display: block;
        color: #6b8199;
        font-size: 11px;
        padding-left: 5px;
      }
    }
  }
  .object {
    &-description {
      &.object-section_short {
        > .object-section__content {
          height: 106px;
        }
      }

      > .object__rollup {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 400px) {
  .modal-save-and-pub .modal__container {
      max-width: 100%;
  }
}

@media (max-width: 375px) {
  .profile-picture-item {
    height: 130px;
    width: 130px;
  }
  .profile-picture {
    height: 130px;
    width: 130px;
    &__text{
      line-height: 130px;
      font-size: 14px;
      font-size: 14px;
    }
  }
}
