<!DOCTYPE html>
<html lang="ru">
{% include "./head.njk" %}
<body>
{% include "./header.njk" %}
{% import "../helpers/macro.njk" as macro %}
<main class="main">
    {% block content %}{% endblock %}
</main>
{% include './modal.njk' %}
{% include "./svg-sprite.njk" %}
{% include "./footer.njk" %}
<!-- build:js js/vendor.js -->
<script src="./js/jquery-3.3.1.min.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="./js/main.js"></script>
<!-- endbuild -->
{% block scripts %}{% endblock %}
</body>
</html>
